#bh-appts-main {
  padding: 1em;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #f6f6f6;
  background: -webkit-linear-gradient(115deg, rgba(246, 246, 246, 0.247012) 0%, #fdfdfd 51%, rgba(245, 245, 245, 0.16578) 100%);
  background: -o-linear-gradient(115deg, rgba(246, 246, 246, 0.247012) 0%, #fdfdfd 51%, rgba(245, 245, 245, 0.16578) 100%);
  background: linear-gradient(335deg, rgba(246, 246, 246, 0.247012) 0%, #fdfdfd 51%, rgba(245, 245, 245, 0.16578) 100%);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
