@import './baseVars.scss';

#bh-app-nav{
    background-color: $redLight;
    border-bottom: 3px solid $redDark;
    ul{
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .btn-container{
            padding: 15px 0;
            cursor: pointer;
            margin-left: auto;
        }
        .pull-left{
            margin-left: 0;
        }
    }
}